.rdp {
  --rdp-cell-size: 40px;
  --rdp-accent-color: var(--primary);
  --rdp-background-color: var(--accent);
  --rdp-accent-color-dark: var(--primary);
  --rdp-background-color-dark: var(--accent);
  --rdp-outline: 2px solid var(--focus);
  --rdp-outline-selected: 3px solid var(--focus);
  margin: 0;
}

.rdp-vhidden {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  background: transparent;
  border: 0;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  position: absolute !important;
  top: 0;
  width: 1px !important;
  height: 1px !important;
  padding: 0 !important;
  overflow: hidden !important;
  clip: rect(1px, 1px, 1px, 1px) !important;
  border: 0 !important;
} 